@charset "utf-8";

.Access-Flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.Access-Flex-container__item {
    font-size: 30px;
    margin: 35px 0;/* 上下の幅調整 */
}

.Access-Flex-container__item p {
    margin-left: 35px;/* 住所等の見出しを基準とした位置調整 */
    margin-top: 20px;
}

.Access-Flex-container__item li {
    margin-left: 75px;/* 交通手段のul listの位置調整 */
}

.map {
    margin: 15px;
    height: 500px;
}

/* モバイル版
-------------------------------------------------------- */
@media screen and (max-width: 750px) {

    .Access-Flex-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: max-content;
    }
    
    .Access-Flex-container__item {
        font-size: 20px;
        margin: 35px 0;/* 上下の幅調整 */
        text-align: center;
        max-width: 90vw;
    }

    .Access-Flex-container__item p {
        margin: 0 auto;
        margin-top: 20px;
    }

    .Access-Flex-container__item h2 {
        width: max-content;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .map {
        margin: 15px;
        height: 400px;
    }
}