@font-face {
    font-family: 'MyWebFont';
    src: url('../font//kaiso_next_web.woff') format('woff');
}


body {
    font-family: 'Sawarabi Mincho', sans-serif;
}


.Header__Nav,.What__title,.Border-title {
    font-family:'MyWebFont';
}


