@charset "utf-8";

.Header__main-img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

.Header__Nav {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
} 

.Header__Nav__item {
    display: block;
    min-width: max-content;
    padding: 10px 15px;
    font-size: 20px;
}

a:link {color: #000000;}
a:visited { color: #333333; }
a:hover { color: #333333; }
a:active { color: #000000; }
a { text-decoration: none; }


/* モバイル版
-------------------------------------------------------- */
@media screen and (max-width: 750px) {

.Header__Nav {
        display: none;
    }
}

/* ハンバーガーメニュー辻褄合わせ */
@media screen and (max-width: 751px) {
    .Header__main-img {
        padding-top: 76px; 
    }
}