@charset "utf-8";

.Img-tile {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
}

.Img-tile__item {
    max-width: 100%;
}

/* モバイル版
-------------------------------------------------------- */
@media screen and (max-width: 750px) {

    .Img-tile {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(auto-fit, minmax(240px,1fr));
    }

    .Img-tile__item {
        max-width: 100%;
    }
}