@charset "utf-8";

.News {
    max-width: 95%;
    margin: 0 auto 200px;
    display: none;
}

.News__title {
    width: max-content;
    margin: 0 auto;
}

.News__Body {
    font-size: 15px;
    max-width: max-content;
    margin: 0 auto ;
    padding: 50px;
    border-top: #333333 solid 5px;
    border-bottom: #333333 solid 5px;
}

.News__Body__item {
    display: flex;
    margin-top: 20px;
}

.News__Body__item:first-child {
    margin-top: 0;
}

.News-item__date {
    margin-right: 30px;
}

a {
    text-decoration: #333333;
}


.News-item__main a:link {color: #333333;}
.News-item__main a:visited { color: #666666; }
.News-item__main a:hover { color: #555555; }
.News-item__main a:active { color: #333333; }
.News-item__main a { text-decoration: underline; }

/* モバイル版750px以下
-------------------------------------------------------- */
@media screen and (max-width: 750px) {

.News__Body {
    font-size: 15px;
    padding: 50px 10px 50px;
    border-top: #333333 solid 3px;
    border-bottom: #333333 solid 3px;
}
}