@charset "utf-8";

.massage {
    font-size: 30px;
    max-width: 90vw;
    margin: 0 auto;
}

/* モバイル版750px以下
-------------------------------------------------------- */
@media screen and (max-width: 750px) {

    .massage {
        margin: 70px auto;
    }
}


/* モバイル版600px以下
-------------------------------------------------------- */
@media screen and (max-width: 600px) {

    .massage {
        font-size: 15px;
        max-width: 90vw;
        margin: 40px auto 0;
    }

}