.event-catalog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__card {
        position: relative;
        display: block;
        width: 260px;
        height: 153px;
        border-radius: 15px;
        margin: 7px;
        background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%),
 url(../images/shop.JPG);
        &__title {
            position: absolute;
            bottom: 0;
            right: 0;
            padding: 10px;
            font-size: 15px;
            background-color: rgba(51, 51, 51, 0.3);
            color: white;
        }
    }
}