@charset "UTF-8";
/* base */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* 画面幅が0-768pxの場合　*/
@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
    font-size: 2.60417vw;
    /* ←の'fz_vw()'の値が，基準となる画面幅↑の時に，htmlタグのfont-sizeになる．以下同様*/
    background-color: #E0E5EC;
  }
}

/* 画面幅が768ｐｘ-1024pxの場合　*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 10px;
    font-size: 1.30719vw;
    background-color: #E0E5EC;
  }
}

/* 画面幅が1024px以上の場合 */
@media screen and (min-width: 1024px) {
  html {
    font-size: 10px;
    font-size: 0.97656vw;
    background-color: #E0E5EC;
  }
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

.wrapper {
  width: 97vw;
  min-width: 320px;
  max-width: 1000px;
  margin: -15px auto 3rem;
  padding: 4rem 0;
  background-color: #fff;
  border-radius: 1.5rem;
  text-align: center;
}

.none {
  display: none;
}

.footer {
  padding: 2rem 0;
  background-color: #fff;
  text-align: center;
  font-size: 1.5rem;
}

.footer__logo {
  width: 10rem;
  margin: 0 auto;
}

.footer__list {
  margin: 2.5rem 0;
}

.footer__list__item {
  padding: 0.5rem 0;
}

.footer__list__item a {
  text-decoration: none;
}

/* components */
.menu-content ul {
  height: 80%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  margin-bottom: 50px;
}

.menu-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50px;
  width: 50px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
  background-color: rgba(51, 51, 51, 0.3);
}

.menu-btn span,
.menu-btn span:before,
.menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #fff;
  position: absolute;
}

.menu-btn span:before {
  bottom: 8px;
}

.menu-btn span:after {
  top: 8px;
}

#menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

#menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

#menu-btn-check {
  display: none;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #333;
}

.menu-content ul {
  padding: 70px 10px 50px;
}

.menu-content ul li {
  border-bottom: solid 1px #ffffff;
  list-style: none;
}

.menu-content ul li a {
  display: block;
  width: 100%;
  font-size: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #ffffff;
  text-decoration: none;
  padding: 15px;
  position: relative;
}

.menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #ffffff;
  border-right: solid 2px #ffffff;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 20px;
  top: 19px;
}

.menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #333;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
}

#menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

.main {
  margin-top: 100px;
}

p {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.hero {
  width: 100%;
  height: 30vh;
  background-image: none;
  position: relative;
  color: white;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#14366f), to(#63e5c5));
  background-image: linear-gradient(0deg, #14366f 0%, #63e5c5 100%);
  z-index: -99;
}

.hero__txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  margin: 0 auto 1.5rem;
  vertical-align: center;
  text-align: center;
}

.hero__txt__title {
  font-size: 6.5rem;
  font-weight: 400;
  white-space: nowrap;
}

.hero__txt__title__en {
  margin: 0.5rem;
  font-size: 7rem;
  font-weight: 400;
  white-space: nowrap;
}

.hero__txt__date {
  font-size: 2rem;
  padding: 0.5rem 2.4rem;
  border: solid 1px white;
}

/* common */
.line {
  position: relative;
  display: inline-block;
  padding: 0 55px;
  margin-bottom: 1.5rem;
  font-size: 20px;
  font-weight: 100;
}

.line::before, .line::after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 1px;
  background-color: black;
}

.line::before {
  left: 0;
}

.line::after {
  right: 0;
}

.event-catalog {
  margin: 0 auto 6rem;
}

.event-catalog__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.event-catalog__body__card {
  position: relative;
  display: block;
  width: 260px;
  height: 153px;
  border-radius: 15px;
  margin: 7px;
  background-size: cover;
}

.event-catalog__body__card.event {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/bingo.JPG);
}

.event-catalog__body__card.stage {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/street-style.JPG);
}

.event-catalog__body__card.exhibition {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/grobal.JPG);
}

.event-catalog__body__card__title {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 0 0 15px 0;
  padding: 10px;
  font-size: 15px;
  background-color: rgba(51, 51, 51, 0.3);
  color: white;
}

#randomImg {
  width: 320px;
  height: 100px;
  margin: 0 auto;
  background-image: url(../images/company-images/test1.jpeg);
  background-position: center center;
  background-size: cover;
}

/* pages */
.news {
  display: block;
  width: 85%;
  font-size: 1.5rem;
  margin: 0 auto 6rem;
}

.news__body {
  border: solid #333;
  border-width: 1px 0;
}

.news__body__list {
  list-style: none;
}

.news__body__list__item {
  margin: 0 1rem 2rem;
}

.news__body__list__item:first-child {
  margin: 2rem 1rem;
}

.news__body__link {
  text-align: right;
  margin: 0 1rem 1rem 0;
}

/* parts */
/* utils */
#border {
  position: absolute;
  width: 90vw;
  height: 94vh;
  border: solid 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.intro-card__coming-soon {
  font-size: 2.5rem;
  margin: 40px 0 30px;
}

.intro-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94vw;
  height: 97vh;
  margin: 3vw auto 6vw;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 4px #fff;
          box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 4px #fff;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: relative;
}

.intro-card.hero {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%);
}

.intro-card.event {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/bingo.JPG);
}

.intro-card.stage {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/guest.JPG);
}

.intro-card.exhibition {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/grobal.JPG);
}

.intro-card.futter {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.8) 10%, rgba(230, 35, 20, 0.8) 40%, rgba(245, 230, 105, 0.8) 90%);
}

.intro-card__txt {
  display: block;
  width: 90%;
}

.intro-card__header {
  width: 100%;
  margin-bottom: 30px;
}

.intro-card__header__title {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.intro-card__header__title--en {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  white-space: nowrap;
}

.intro-card__header__date {
  display: inline;
  padding: 0 2rem 0.5rem;
  font-size: 2rem;
  border: solid 1px white;
}

.intro-card__header__subtitle {
  font-size: 2rem;
  line-height: 3rem;
  white-space: nowrap;
}

.intro-card__body {
  font-size: 2.5rem;
}

.intro-card__copy {
  font-size: 1.5rem;
  line-height: 3rem;
}

.intro-card__subtitle {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.intro-card__list {
  list-style: none;
  margin-bottom: 6rem;
}

.intro-card__list__item {
  margin-bottom: 1rem;
}

.intro-card__list__item:last-child {
  margin: 0;
}

.intro-card__logo {
  display: block;
  width: 60%;
  max-width: 400px;
}

.share-icons {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  margin: 0 auto;
}

.share-icons__item {
  width: 50px;
  margin: 20px 30px;
}

.full-page-scroll {
  width: 100%;
  height: 100vh;
  text-align: center;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.intro-card {
  scroll-snap-align: center;
}
/*# sourceMappingURL=index-main.css.map */