@charset "UTF-8";
/* base */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* html {
  font-size: 62.5%;
  background-color: #E0E5EC;
} */
@media screen and (max-width: 768px) {
  html {
    font-size: 20px;
    font-size: 2.60417vw;
    background-color: #E0E5EC;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  html {
    font-size: 10px;
    font-size: 1.30719vw;
    background-color: #E0E5EC;
  }
}

@media screen and (min-width: 1024px) {
  html {
    font-size: 10px;
    font-size: 0.97656vw;
    background-color: #E0E5EC;
  }
}

html {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 100;
}

/* components */
/* common */
/* parts */
.learn-more {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 2rem;
  padding: 1rem 2rem;
  border: solid 1px white;
  margin: 5rem auto 0;
  display: none;
}

.arrow {
  position: relative;
  display: inline-block;
  padding: 0 0 0 16px;
  vertical-align: middle;
  text-decoration: none;
  font-size: 15px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  margin-top: 40px;
}

.arrow::before, .arrow::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  content: "";
  vertical-align: middle;
}

.arrow::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 36px;
  height: 36px;
  border: 2px solid white;
  border-radius: 50%;
}

.arrow::after {
  left: 10px;
  width: 10px;
  height: 10px;
  border-top: 3px solid white;
  border-right: 3px solid white;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.white-box {
  position: absolute;
  width: 90vw;
  height: 94vh;
  border: solid 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* pages */
/* 背景色の変更とか
リンク色の変更とか */
.LP-footer {
  display: none;
}

.intro-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 94vw;
  height: 97vh;
  margin: 3vw auto 6vw;
  background-size: cover;
  -webkit-box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 4px #fff;
          box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 4px #fff;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: relative;
}

.intro-card.hero {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%);
}

.intro-card.event {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/bingo.JPG);
}

.intro-card.stage {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/guest.JPG);
}

.intro-card.exhibition {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.7) 10%, rgba(230, 35, 20, 0.7) 40%, rgba(245, 230, 105, 0.7) 90%), url(../images/guest.JPG);
}

.intro-card.futter {
  background-image: linear-gradient(-45deg, rgba(35, 0, 0, 0.8) 10%, rgba(230, 35, 20, 0.8) 40%, rgba(245, 230, 105, 0.8) 90%);
}

.intro-card__txt {
  display: block;
  width: 90%;
}

.intro-card__header {
  width: 100%;
  margin-bottom: 30px;
}

.intro-card__header__title {
  font-weight: 400;
  font-size: 4rem;
  margin-bottom: 1rem;
  white-space: nowrap;
}

.intro-card__header__title--en {
  font-size: 7rem;
  font-weight: 400;
  margin-bottom: 3rem;
  white-space: nowrap;
}

.intro-card__header__date {
  display: inline;
  padding: 0 2rem 0.5rem;
  font-size: 2rem;
  border: solid 1px white;
}

.intro-card__header__subtitle {
  font-size: 2rem;
  line-height: 3rem;
  white-space: nowrap;
}

.intro-card__body {
  font-size: 2.5rem;
}

.intro-card__copy {
  font-size: 1.5rem;
  line-height: 3rem;
}

.intro-card__subtitle {
  font-size: 2.5rem;
  line-height: 3.5rem;
}

.intro-card__list {
  list-style: none;
  margin-bottom: 6rem;
}

.intro-card__list__item {
  margin-bottom: 1rem;
}

.intro-card__list__item:last-child {
  margin: 0;
}

.intro-card__logo {
  display: block;
  width: 60%;
  max-width: 400px;
}

.full-page-scroll {
  width: 100%;
  height: 100vh;
  text-align: center;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.intro-card {
  scroll-snap-align: center;
}

.last-year-images {
  overflow-y: scroll;
  width: 80%;
  height: 60vh;
  max-width: 700px;
}

.last-year-images__item {
  color: #333;
  padding: 3px;
  border-radius: 3%;
  background: white;
  display: block;
  max-width: 100%;
  -webkit-column-break-inside: avoid;
          break-inside: avoid;
  margin-bottom: 15px;
}

.last-year-images__item img {
  width: 100%;
  border-radius: 3%;
  margin-bottom: 5px;
}

.last-year-images__item p {
  font-size: 1.5rem;
  margin-bottom: 3px;
}

.share-icons {
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 999;
  margin: 0 auto;
}

.share-icons__item {
  width: 50px;
  margin: 20px 30px;
}
/*# sourceMappingURL=LP-main.css.map */