.full-page-scroll {
  width: 100%;
  height: 100vh;
  text-align: center;
  scroll-snap-type: y mandatory;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.intro-card {
  scroll-snap-align: center;
}
