.intro-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 94vw;
  height: 97vh;
  margin: 3vw auto 6vw;
  background-size: cover;
  box-shadow: 5px 5px 10px #A3B1C6, -5px -5px 4px #fff;
  border-radius: 10px;
  color: white;
  text-align: center;
  position: relative;
  &.hero {
    background-image: linear-gradient(0deg, rgba(35,0,0,0.7) 10%, rgba(230,35,20,0.7) 40%, rgba(245,230,105,0.7) 90%)
  }
  &.shop {
    background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%),
 url(../images/shop.JPG);
  }
  &.grobal {
    background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%),
 url(../images/grobal.JPG);
  }
  &.guest {
    background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%),
 url(../images/guest.JPG);
  }
  &.event {
    background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%),
 url(../images/bingo.JPG);
  }
  &.last-year {
    background-image: linear-gradient(0deg, rgba(244,255,74,0.7) 10%, rgba(55,248,119,0.7) 40%, rgba(41,205,248,0.7) 90%);
  }
  &.futter {
    background-color: #E0E5EC;
  }
  &__txt {
    display: block;
    width: 90%;
  }
  &__header {
    width: 100%;
    margin-bottom: 30px;
    &__title {
      font-weight: 400;
      font-size: 4rem;
      margin-bottom: 1rem;
      white-space: nowrap;
      &--en {
        font-size: 7rem;
        font-weight: 400;
        margin-bottom: 3rem;
        white-space: nowrap;
      }
    }
    &__date {
      display: inline;
      padding: 0 2rem 0.5rem;
      font-size: 2rem;
      border: solid 1px white;
    }
    &__subtitle {
      font-size: 2rem;
      line-height: 3rem;
      white-space: nowrap;
    }
  }
  &__body {
    font-size: 2.5rem;
  }
  &__copy {
    font-size: 1.5rem;
    line-height: 3rem;
  }
  &__subtitle {
    line-height: 3.5rem;
  }
  &__logo {
    display: block;
    width: 60%;
  }
}