.news {
    display: block;
    width: 85%;
    font-size: 1.5rem;
    @include Block;
    &__body {
        border: solid #333;
        border-width: 1px 0 ;
        &__list {
            list-style: none;
            &__item {
                margin: 0 1rem 2rem;
                &:first-child {
                    margin: 2rem 1rem;
                }
            } 
        }
        &__link {
            text-align: right;
            margin: 0 1rem 1rem 0;
        }
    }
}