.news {
  display: block;
  width: 85%;
  font-size: 1.5rem;
  @include Block;
  &__body {
    border: solid #333;
    border-width: 1px 0;
    height: 250px;
    overflow: scroll;
    text-align: left;
  }
}
.tag {
  margin: 0 1rem;
  padding: 0 0.5rem 0.1rem;
  border-radius: 5px;
  color: #fff;
}
.blue {/* "お知らせ,お願い,更新,事務連絡など" 通常通りの連絡用 */
  background-color: #3838b7;
}
.green {/* "落とし物" 落とし物が届いたこと */
  background-color: green;
}
.orange {/* "企画" 各企画の開始連絡や配信の開始など */
  background-color: orange;
}
.red {/* "変更" 各企画での時間変更や中止の連絡など急を要するとき */
  background-color: red;
}
.acd-check{
  display: none;
}
.acd-label{
  color: #333;
  display: block;
  padding: 1rem;
  font-size: 1.5rem;
  line-height: 2rem;
}
.acd-content{
  font-size: 1rem;
  text-align: left;
  font-size: 1.5rem;
  border: 1px solid #333;
  width: 90%;
  height: 0;
  opacity: 0;
  transition: .5s;
  visibility: hidden;
}
.acd-check:checked + .acd-label + .acd-content{
  margin: 0 auto;
  padding: 0.5rem;
  height: max-content;
  opacity: 1;
  visibility: visible;
  line-height: 2.5rem;  
}