.event-card-container {
  @include Block;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #333;

  &__content {
    position: relative;
    display: block;
    width: 95%;
    min-width: 20px;
    max-width: 300px;
    height: min-content;
    margin: 0 auto 2.5rem;
    padding-bottom: 2rem;
    border-radius: 1.5rem;
    text-align: center;
    &__title {
      line-height: 3rem;
      font-size: 20px;
      text-align: left;
      padding: 15px;
    }
    &__group {
      font-size: 1.6rem;
      text-align: right;
      padding: 0px 2.2rem;
    }
    &__image {
      width: 250px;
      height: 250px;
      margin: 1.5rem auto;
    }
    &__text {
			line-height: 2rem;
      padding: 1rem;
      font-size: 1.8rem;
    }
		&__detail {
			position: relative;
			margin: 2em 1em 1em 1em;
			padding: 1em 1em 0.5em;
			border: solid 1px #333;
			border-radius: 8px;
		}
		&__detail &__detail-title {
			position: absolute;
			display: inline-block;
			top: -1.0rem;
			left: 10px;
			padding: 0 9px;
			line-height: 1;
			font-size: 1.7rem;
			color: #333;
			font-weight: bold;
      background-color: white;
		}
		&__detail p {
      margin: 0; 
      line-height: 2rem;
      padding: 0 0 0.5rem;
      font-size: 1.8rem;
      text-align: left;
		}
  }
}
.detail-list {
  font-size: 1.8rem;
  list-style: none;
  padding: 0.5rem;
  text-align: left;
  &__item {
    padding: 0.1rem;
    /* 場所(place) */
    &.place {
      position: relative;
      padding-left: 2em;
    }
    &.place::before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/place.svg) no-repeat;
      background-size:contain;
    }
    /* 受付時間:(reception) */
    &.reception {
      position: relative;
      padding-left: 2em;
    }
    &.reception:before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/reception.svg) no-repeat;
      background-size:contain;
    }
    /* 時間:(time) */
    &.time {
      position: relative;
      padding-left: 2em;
    }
    &.time:before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/time.svg) no-repeat;
      background-size:contain;
    }
    /* 一言コメント:(comment) */
    &.comment {
      position: relative;
      padding-left: 2em;
    }
    &.comment:before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/comment.svg) no-repeat;
      background-size:contain;
    }
    /* 注意点:(caution) */
    &.caution {
      position: relative;
      padding-left: 2em;
    }
    &.caution:before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/caution.svg) no-repeat;
      background-size:contain;
    }
    /* youtubeリンク */
    &.youtube {
      position: relative;
      padding-left: 2em;
    }
    &.youtube:before {
      position:absolute;
      left:0;
      top: 0;
      content:"";
      display:inline-block;
      width:1.3em;
      height:1.3em;
      background:url(../images/icon/youtube.svg) no-repeat;
      background-size:contain;
    }
  }
}
