.map {
  width: 100%;
}
.map-size-img {
  display: block;
  margin: 1rem auto 5rem;
  width: 90%;
  max-width: 600px;
  &.event {
    max-width: 400px;
  }
}
.map-size-flex {
  width: 100%;
  margin: 0 0 3rem;
  display: flex;  
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  &__item {
    width: 95%;
    max-width: 400px;
    margin: 1rem;
  }
}